<div class="container-scroller">
    <!-- inicio Navbar -->
    <%- include('components/navbar') %>
    <!-- fin Navbar -->
    <div class="container-fluid page-body-wrapper">
    <!-- inicio Panel Setting -->
    <%- include('components/panelSetting') %>
    <!-- fin Panel Setting -->
    <!-- inicio Sidebar Right -->
    <%- include('components/sidebarRight') %>
    <!-- fin Sidebar Right -->
    <!-- inicio Sidebar Left -->
    <%- include('components/sidebar') %>
    <!-- fin Sidebar Left -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Line chart</h4>
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Bar chart</h4>
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Area chart</h4>
                                <canvas id="areaChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Doughnut chart</h4>
                                <canvas id="doughnutChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Pie chart</h4>
                                <canvas id="pieChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Scatter chart</h4>
                                <canvas id="scatterChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- inicio Footer -->
            <%- include('components/footer') %>
            <!-- fin Footer -->
        </div>
    </div>
</div>
<!-- inicio Script -->
<%- include('components/script') %>
<!-- fin Script -->